# Astro
DIRECTUS_URL=http://localhost:8055

# Directus (in directus/.env)
# KEY=random-key-here
# SECRET=random-secret-here
# DB_CLIENT=sqlite3
# DB_FILENAME=./database.sqlite
# ADMIN_EMAIL=admin@example.com
# ADMIN_PASSWORD=admin
