services:
  directus:
    build: ./backend-directus
    ports:
      - '8055:8055'
    environment:
      KEY: 'a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6'
      SECRET: 'z9y8x7w6v5u4t3s2r1q0p9o8n7m6l5k4'
      DB_CLIENT: sqlite3
      DB_FILENAME: /directus/database/database.sqlite
      PUBLIC_URL: 'http://85.215.222.143:8055'
      CORS_ENABLED: 'true'
      CORS_ORIGIN: 'true'
      CORS_CREDENTIALS: 'true'
      CONTENT_SECURITY_POLICY_DIRECTIVES__FRAME_SRC: "'self' http://85.215.222.143 http://85.215.222.143:4321 http://localhost:4321 http://localhost:4322 https://localhost:4322"
      CONTENT_SECURITY_POLICY_DIRECTIVES__CHILD_SRC: "'self' blob: http://85.215.222.143 http://85.215.222.143:4321 http://localhost:4321 http://localhost:4322 https://localhost:4322"
      CONTENT_SECURITY_POLICY_DIRECTIVES__FRAME_ANCESTORS: "'self' http://85.215.222.143 http://85.215.222.143:8055"
    restart: unless-stopped

  astro:
    build: ./frontend-astro
    ports:
      - '4321:4321'
    depends_on:
      - directus
    environment:
      DIRECTUS_URL: 'http://directus:8055'
      PUBLIC_DIRECTUS_URL: 'http://85.215.222.143:8055'
      HOST: '0.0.0.0'
      PORT: '4321'
    restart: unless-stopped
